html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(-225deg, #121820 0%, #121820 52%, #121820 100%);
  min-height: 100%;
  padding-bottom: 5rem;
}
.titulo {
  font-weight: bold;
  font-size: 3rem;
  font-family: 'PT Sans', sans-serif;
  color: #e94560;
}
.container {
    background-color: white;
}
header {
  margin-top: 3rem;
}
header h1 {
  color: white;
}

textarea {
    height: 200px!important;
}
svg {
  width: 21px;
}
